<!doctype html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script src="/reload/reload.js"></script>
  <script type="text/javascript" src="/js-helpers/build-html.js"></script>
  
  <script>

    $(document).ready(function(){
      $("#removetestruns").click(function(){
        // var result = confirm("Are you sure you want to delete all testruns?");
        // if (result) {
          // request removing all testruns
          $.post("/remove/testRuns/<%= email %>", function(data, status){});
        // }        
      });
      $("#removefirmwares").click(function(){
        // var result = confirm("Are you sure you want to delete all testruns?");
        // if (result) {
          // request removing all testruns
          $.post("/remove/firmwares/<%= email %>", function(data, status){});
        // }        
      });
    });

    var update_table = null; // variable as placeholder for jquery function
    $(function() { 
      function my_fun(user){ // jquery function to update table
        let testruns = buildTableRows(user.testRuns);
        let firmwares = buildTableRows(user.firmwares);
        let firmwareoptions = buildFirmwareOptions(user.firmwares);
        $("#testruntable tbody").replaceWith(testruns);
        $("#firmwaretable tbody").replaceWith(firmwares);
        $("#firmwareoptions").empty().append(firmwareoptions);
      }  
      update_table = my_fun; // store function in variable to access it from js
    }) 

    // assume that API service is published on same server that is the server of this HTML file
    var source = new EventSource("../updates");
    source.onmessage = function(event) {
      var terminal = document.getElementById("terminal");
      var data = JSON.parse(event.data); // parse data received
      
      if(data["_id"]) // if data is passed, update table
      {
        update_table(data);
      }
      else // else just output what we received
      {
        // Here append the terminal with new data and handle automatic scrolling
        var isScrolledToBottom = terminal.scrollHeight - terminal.clientHeight <= terminal.scrollTop + 1;
        var newElement = document.createElement("div");
        newElement.innerHTML = data;
        terminal.appendChild(newElement);
        // scroll to bottom if isScrolledToBotto
        if(isScrolledToBottom)
          terminal.scrollTop = terminal.scrollHeight - terminal.clientHeight;
      }
    };
  </script>
</head>
<body>

<div class="container">
  <div class="page-header text-center">
    <h1><span class="fa fa-microchip"></span> Batteryless IoT Testbed</h1>
    <strong>email</strong>: <%= email %><br>
    <a href="/logout" class="btn btn-light">Logout</a>
    <hr/>
  </div>

  <div class="row">
    <div class="col-md-6">

      <!-- FIRMWARE -->
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Upload new firmware</h3>
          <form class="card-text"action="/upload/firmware" method="post" enctype="multipart/form-data" target="formtarget">
            <div class="form-group">
              <label>Firmware</label>
              <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="filename">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <script>
                // Script for updating filename
                $("input[type=file]").on('change',function(){
                  //get the file name
                  var fileName = $(this).val().split('\\').pop();
                  //replace the "Choose a file" label
                  $(this).next('.custom-file-label').html(fileName);
                })
              </script>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Submit</button>
            <button type="button" id="removefirmwares"  class="btn btn-danger btn-lg">Remove all firmwares</button>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Firmwares</h3>
          <div class="card-text">
            <div class="table-wrapper-scroll-y">
              <table class="table table-striped" id="firmwaretable">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Firmware</th>
                  </tr>    
                </thead>  
                  <script>
                    document.write(buildTableRows(<%- user %>.firmwares));
                  </script>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- UPLOAD TESTRUN -->
      <div class="card">
        <div class="card card-body bg-light">

          <!-- TAB NAVIGATION -->
          <h3 class="card-title">Start new testrun</h3>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Form input</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="json-tab" data-toggle="tab" href="#json" role="tab" aria-controls="json" aria-selected="false">JSON input</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">

            <!-- FORM TAB -->
            <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
              <form action="/upload/testrun" method="post" enctype="multipart/form-data" target="formtarget">
                <div class="form-group">
                  <label for="firmwareoptions">Firmware</label>
                  <select name="firmwareselect" class="custom-select mb-3" id="firmwareoptions">
                    <script>
                      document.write(buildFirmwareOptions(<%- user %>.firmwares))
                    </script>
                  </select>
                </div>
                <div class="form-group">
                  <label for="poweroptions">Power source</label>
                  <select name="powerselect" class="custom-select mb-3" id="poweroptions">
                    <option selected>Choose a power source</option>
                    <option value="continuous">Continuous power</option>
                    <option value="switching">Switching power</option>
                  </select>
                  <script>
                    $("#poweroptions").on("change", function() {
                      // If switching power is selected, show corresponding forms
                      if ($(this).val() === "switching")
                      {
                        $("#switching-options").show();
                      }
                      else
                      {
                        $("#switching-options").hide();
                      }
                    })
                  </script>
                </div>
                <div formGroupName="switching-options" id="switching-options" style="display:none">
                  <div class="form-group">
                    <label for="frequency">Frequency (Hz)</label>
                    <input type="number" class="form-control" id="frequency" placeholder="10">
                  </div>

                  <div class="form-group">
                    <label for="duty-cycle">Duty Cycle (%)</label>
                    <input type="number" class="form-control" id="duty-cycle" placeholder="50">
                  </div>
                </div>

                <div class="form-group">
                  <label for="time">Time (seconds)</label>
                  <input type="number" class="form-control" id="time" placeholder="10">
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Submit</button>
              </form>
            </div>

            <!-- JSON TAB -->
            <div class="tab-pane fade" id="json" role="tabpanel" aria-labelledby="json-tab">
              <form action="/upload/testrun" method="post" enctype="multipart/form-data" target="formtarget">
                <div class="custom-file mb-3">
                  <input type="file" class="custom-file-input" id="jsonfile" name="jsonfile">
                  <label class="custom-file-label" for="jsonfile">Choose file</label>
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TERMINAL -->
    <div class="col-md-6">
      <div class="card card-body bg-light">
        <h3>Terminal</h3>
        <div id="terminal" style="overflow:auto"></div>
      </div>
    </div>
  </div>

  <iframe name="formtarget"style="display:none"></iframe>

  <div class="row">

    <!-- TESTRUNS -->
    <div class="col-md-12">
      <div class="card card-body bg-light">
        <div class="row">
          <div class="col-md-6">
            <h3><span class="fa fa-wrench"></span> Testruns </h3>
          </div>
          <div class="col-md-6">
            <span class="pull-right">
              <button id="removetestruns" class="btn btn-danger btn-lg">Remove all testruns</button>
            </span>
          </div>
        </div>
        
        <div class="table-wrapper-scroll-y">
          <table class="table table-striped" id="testruntable">
            <thead>
              <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Firmware</th>
                <th>Serial output</th>
                <th>GPIO trace</th>
                <th>Status</th>               
              </tr>    
            </thead>  
              <script>
                document.write(buildTableRows(<%- user %>.testRuns));
              </script>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
